[Unit]
After=casaos-gateway.service
After=casaos-message-bus.service
After=casaos-user-service.service
Description=ZimaOS Cron Service

[Service]
ExecStart=/usr/bin/zimaos-cron
Restart=always

[Install]
WantedBy=multi-user.target
